@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <input type="button" id="btnGioco" value="GIOCO" class="btn btn-info" />

    <div class="row">
        <div class="col-lg-4">

        </div>
        <div id="mazziere" class="col-lg-4">
            <div id="nome-mazziere"></div>
            <div id="carte-mazziere" class="d-flex justify-content-center"></div>
        </div>
        <div class="col-lg-4">

        </div>
        <div id="giocatori" class="col-lg12 d-flex mt-5">
            <div class="giocatorestamp col-lg-6 d-none">
                <div class="nome-giocatore"></div>
                <div class="carte-giocatore d-flex justify-content-center"></div>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {

        $("#btnGioco").click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/GetGioco",
                data: {},
                success: function (risultato) {
                    let partita = JSON.parse(risultato);
                    DisegnaTavolo(partita);
                },
                error: function (risultato) {
                    console.log(risultato);
                }
            });
        })
    })

    function DisegnaTavolo(partita) {
        PulisceTavolo();
        $("#nome-mazziere").html(partita.Mazziere.Nome + " punti: " + partita.Mazziere.Punteggio);
        partita.Mazziere.Carte.forEach(function (carta) {
            $("#carte-mazziere").append("<div><img src='Carte/" + carta.Seme + "-" + carta.Numero  + ".png'></div>");
        })
        if (partita.Mazziere.Punteggio > 21) {
            $("#nome-mazziere").addClass("back-red");
        }
        partita.Giocatori.forEach(function (giocatore) {
            let div = $(".giocatorestamp").clone().removeClass("giocatorestamp d-none").addClass("giocatore");
            div.find(".nome-giocatore").html(giocatore.Nome + " punti: " + giocatore.Punteggio);
            giocatore.Carte.forEach(function (carta) {
                div.find(".carte-giocatore").append("<div><img src='Carte/" + carta.Seme + "-" + carta.Numero + ".png'></div>");
            })
            if (giocatore.Punteggio > 21) {
                div.find(".nome-giocatore").addClass("back-red");
            }
            $("#giocatori").append(div);

        })

    }

    function PulisceTavolo() {
        $("#nome-mazziere").html("");
        $("#carte-mazziere").html("");
        $(".giocatore").remove();
    }

</script>