@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    <div class="col-lg-10">

    </div>
    <div id="div-partite" class="col-lg-2">
        <input type='text' id='txtNomePartita' value='' class='form-control w-100 mb-1' placeholder="Nome partita" />
        <input type='button' id='btnNuovaPartita' value='Nuova partita' class='btn btn-info w-100 mb-1' />
    </div>


</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {

        $("#btnNuovaPartita").click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/NuovaPartita",
                data: {
                    nome: $("#txtNomePartita").val()
                },
                success: function (id) {
                    GetPartite();
                    location.href = "/Home/Partita/" + id
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                }
            });
        });

        $(document).on("click", ".btnPartita", function () {
            let id = $(this).attr("idPartita");
            location.href = "/Home/Partita/" + id
        });

        GetPartite()
    })

    function GetPartite() {

        $.ajax({
            type: "POST",
            url: "/Home/GetPartite",
            data: {
            },
            success: function (json) {
                let partite = JSON.parse(json);
                $(".btnPartita").remove();
                partite.forEach(function (item) {
                    $("#div-partite").prepend("<input type='button' value='" + item.Nome + "' idPartita='" + item.Id + "' class='btn btn-success btnPartita w-100 mb-1' />");
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            }
        });

    }


</script>