@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    <div class="col-10">

    </div>
    <div id="div-partite" class="col-2">
        <input type='text' id='txtNomePartita' value='' class='form-control w-100 mb-1' placeholder="Nome giocatore" />
        <input type='button' id='btnNuovaPartita' value='Nuova partita' class='btn btn-info w-100 mb-1' />
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#btnNuovaPartita").click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/NuovaPartita",
                data: {
                    nome: $("#txtNomePartita").val()
                },
                success: function (id) {
                    GetPartite();
                    $("#txtNomePartita").val("");
                    location.href = "/Home/Partita?id=" + id
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                }
            });
        });

        $(document).on("click", ".btnPartita", function () {
            let id = $(this).attr("idPartita");
            location.href = "/Home/Partita?id=" + id
        });

        GetPartite()
    })

    function GetPartite() {

        $.ajax({
            type: "POST",
            url: "/Home/GetPartite",
            data: {
            },
            success: function (json) {
                let partite = JSON.parse(json);
                $(".btnPartita").remove();
                partite.forEach(function (item) {
                    $("#div-partite").prepend("<input type='button' value='" + item.Nome + "' idPartita='" + item.Id + "' class='btn btn-success btnPartita w-100 mb-1' />");
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            }
        });

    }


</script>