@{
    ViewData["Title"] = "Home Page";
    
}
@Html.Hidden("IdGiocatore", (string)ViewBag.IdGiocatore)

<div class="text-center p-2">
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div id="mazziere" class="col-lg-6 p-2">
            <div id="nome-mazziere"></div>
            <div id="cassa-mazziere"></div>
            <div id="carte-mazziere" class="d-flex justify-content-center"></div>
        </div>
        <div class="col-lg-2 offset-lg-1 mb-1 div-partecipa">
            <input type='text' value='' class='txtNomeGiocatore form-control ml-1 d-none' placeholder="Nome giocatore" />
            <input type='button' value='Partecipa' class='btnPartecipa btn btn-info w-100 d-none' />
        </div>

        <div id="giocatori" class="col-lg-12 mt-5 row">
            <div class="giocatorestamp col-lg-3 d-none p-2 border border-light">
                <div class="nome-giocatore"></div>
                <div class="cassa-giocatore"></div>
                <div class="carte-giocatore d-flex justify-content-center"></div>
                <div class="opzioni-giocatore d-flex justify-content-center">
                    <input type='text' value='' class='txtPuntata form-control ml-1 d-none' />
                    <input type='button' value='Punta' class='btnPunta btn btn-info d-none' />
                    <input type='button' value='Pesca' class='btnPesca btn btn-info d-none' />
                    <input type='button' value='Stai' class='btnStai btn btn-info d-none' />
                    <input type='button' value='Esci' class='btnEsci btn btn-info d-none' />
                    <input type='button' value='Raddoppia' class='btnRaddoppia btn btn-info d-none' />
                    <input type='button' value='Split' class='btnSplit btn btn-info d-none' />
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    let timer = null;
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    let idPartita = urlParams.get('id');

    SetInterval();

    $(document).ready(function () {

        $(document).on("click", ".btnPunta", function () {
            let idGiocatore = $(this).closest(".giocatore").attr("idGiocatore");
            let puntata = $(this).parent().find(".txtPuntata").val();
            if (puntata <= 0) {
                alert("Puntata errata");
                return false;
            }

            $.ajax({
                type: "POST",
                url: "/Home/Punta",
                data: {
                    id: idPartita,
                    idGiocatore: idGiocatore,
                    puntata: puntata
                },
                success: function (json) {
                    let partita = JSON.parse(json);
                    DisegnaTavolo(partita);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                }
            });
        });

        $(document).on("click", ".btnStai", function () {
            let idGiocatore = $(this).closest(".giocatore").attr("idGiocatore");
            let puntata = $(this).parent().find(".txtPuntata").val();

            $.ajax({
                type: "POST",
                url: "/Home/Stai",
                data: {
                    id: idPartita,
                    idGiocatore: idGiocatore,
                    puntata: puntata
                },
                success: function (json) {
                    let partita = JSON.parse(json);
                    DisegnaTavolo(partita);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                }
            });
        });

        $(document).on("click", ".btnRaddoppia", function () {
            let idGiocatore = $(this).closest(".giocatore").attr("idGiocatore");
            let puntata = $(this).parent().find(".txtPuntata").val();

            $.ajax({
                type: "POST",
                url: "/Home/Raddoppia",
                data: {
                    id: idPartita,
                    idGiocatore: idGiocatore,
                    puntata: puntata
                },
                success: function (json) {
                    let partita = JSON.parse(json);
                    DisegnaTavolo(partita);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                }
            });
        });

        $(document).on("click", ".btnEsci", function () {
            let idGiocatore = $(this).closest(".giocatore").attr("idGiocatore");
            let puntata = $(this).parent().find(".txtPuntata").val();

            $.ajax({
                type: "POST",
                url: "/Home/Esci",
                data: {
                    id: idPartita,
                    idGiocatore: idGiocatore,
                    puntata: puntata
                },
                success: function (json) {
                    let partita = JSON.parse(json);
                    DisegnaTavolo(partita);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                }
            });
        });

        $(document).on("click", ".btnPesca", function () {
            let idGiocatore = $(this).closest(".giocatore").attr("idGiocatore");
            let puntata = $(this).parent().find(".txtPuntata").val();

            $.ajax({
                type: "POST",
                url: "/Home/Pesca",
                data: {
                    id: idPartita,
                    idGiocatore: idGiocatore,
                    puntata: puntata
                },
                success: function (json) {
                    let partita = JSON.parse(json);
                    DisegnaTavolo(partita);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                }
            });
        });

        $(document).on("click", ".btnPartecipa", function () {

            $.ajax({
                type: "POST",
                url: "/Home/Partecipa",
                data: {
                    id: idPartita,
                    nome: $(".txtNomeGiocatore").val()
                },
                success: function (data) {
                    $("#IdGiocatore").val(data.idGiocatore);
                    let partita = JSON.parse(data.json);
                    DisegnaTavolo(partita);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                }
            });
        });

        $(document).on("click", ".btnSplit", function () {

            let idGiocatore = $(this).closest(".giocatore").attr("idGiocatore");

            $.ajax({
                type: "POST",
                url: "/Home/Split",
                data: {
                    id: idPartita,
                    idGiocatore: idGiocatore
                },
                success: function (json) {
                    let partita = JSON.parse(json);
                    DisegnaTavolo(partita);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                }
            });
        });

        GetPartita()
    })

    function GetPartita() {

        $.ajax({
            type: "POST",
            url: "/Home/GetPartita",
            data: {
                id: idPartita
            },
            success: function (json) {
                let partita = JSON.parse(json);
                DisegnaTavolo(partita);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            }
        });

    }

    function DisegnaTavolo(partita, trueCount) {
        PulisceTavolo();
        $("#nome-mazziere").html(partita.Mazziere.Nome + (partita.Mazziere.CartaCoperta == false ? " punti: " + partita.Mazziere.Punteggio : ""));
        $("#cassa-mazziere").html("Cassa: " + partita.Mazziere.SoldiTotali + " - Giri: " + partita.Giri);
        partita.Mazziere.Carte.forEach(function (carta, index) {
            if (partita.Mazziere.CartaCoperta == true && index == 1) {
                $("#carte-mazziere").append("<div class='carta'><img src='/Carte/retroblu.png'></div>");
            } else {
                $("#carte-mazziere").append("<div class='carta'><img src='/" + carta.PathImage + "' title='" + carta.Nome + "''></div>");
            }
        })
        //if (partita.Mazziere.Punteggio > 21) {
        //    $("#mazziere").addClass("back-red");
        //}
        let presenteg = false;
        partita.Giocatori.forEach(function (giocatore) {
            let div = $("[idGiocatore='" + giocatore.Id + "']");
            let existdiv = div.length > 0;
            if (div.length == 0) {
                div = $(".giocatorestamp").clone().removeClass("giocatorestamp d-none").addClass("giocatore");
                div.attr("idGiocatore", giocatore.Id);
            }
            div.find(".nome-giocatore").html(giocatore.Nome + " punti: " + giocatore.Punteggio);
            div.find(".cassa-giocatore").html("Cassa: " + giocatore.SoldiTotali + " - Puntata: " + giocatore.PuntataCorrente);
            div.find(".perc").html("vinte: " + Math.round(giocatore.ManiVinte * 100 / partita.Giri) + "% - pareggiate: " + Math.round(Math.abs(giocatore.ManiVinte - giocatore.ManiPerse) * 100 / partita.Giri) + "% - perse: " + Math.round(giocatore.ManiPerse * 100 / partita.Giri) + "%");
            div.find(".carte-giocatore").empty();
            giocatore.Carte.forEach(function (carta) {
                div.find(".carte-giocatore").append("<div class='carta'><img src='/" + carta.PathImage + "' title='" + carta.Nome + "''></div>");
            })
            //if (giocatore.Risultato == 0) {
            //    div.addClass("back-green");
            //} else if (giocatore.Risultato == 1) {
            //    div.addClass("back-red");
            //}
            if (giocatore.Id == $("#IdGiocatore").val() || giocatore.GiocatoreSplit != null && giocatore.GiocatoreSplit.Id == $("#IdGiocatore").val()) {
                if (giocatore.PuntataCorrente == 0) {
                    div.find(".txtPuntata").removeClass("d-none");
                    div.find(".btnPunta").removeClass("d-none");
                    div.find(".btnEsci").removeClass("d-none");
                } else {
                    div.find(".txtPuntata").addClass("d-none");
                    div.find(".btnPunta").addClass("d-none");
                    div.find(".btnEsci").addClass("d-none");
                }
                if (giocatore.Id == partita.IdGiocatoreMano) {
                    div.find(".btnStai").removeClass("d-none");
                    div.find(".btnPesca").removeClass("d-none");
                } else {
                    div.find(".btnStai").addClass("d-none");
                    div.find(".btnPesca").addClass("d-none");
                }
                if (giocatore.Id == partita.IdGiocatoreMano && giocatore.Carte.length == 2) {
                    div.find(".btnRaddoppia").removeClass("d-none");
                } else {
                    div.find(".btnRaddoppia").addClass("d-none");
                }
                if (giocatore.CanSplit == true) {
                    div.find(".btnSplit").removeClass("d-none");
                } else {
                    div.find(".btnSplit").addClass("d-none");
                }

            }
            if (giocatore.Id == partita.IdGiocatoreMano) {
                div.addClass("back-azure");
            } else {
                div.removeClass("back-azure");
            }
            if (giocatore.Id == $("#IdGiocatore").val()) {
                presenteg=true;
            }

            if (!existdiv) {
                $("#giocatori").append(div);
            }

        })

        if (!presenteg && !partita.Iniziato) {
            $(".btnPartecipa").removeClass("d-none");
            $(".txtNomeGiocatore").removeClass("d-none");
        } else {
            $(".btnPartecipa").addClass("d-none");
            $(".txtNomeGiocatore").addClass("d-none");
        }

        //elimina i box
        $(".giocatore").map(function () {
            return $(this).attr("idgiocatore");
        }).get().forEach(function (item) {
            if (!partita.Giocatori.map(function (item) {
                return item.Id;
            }).includes(item)) {
                $("[idGiocatore='" + item + "']").remove();
            }
        });


        if (!partita.Mazziere.CartaCoperta) {
            VisualizzaVincitori(partita);
            if (GetStop() == false) {
                SetStop(true);
                setTimeout(function () {
                    NuovaMano();
                    SetStop(false);
                    $(".giocatore .nome-giocatore:empty").closest(".giocatore").remove();
                }, 5000);
            }
        }

    }

    function PulisceTavolo() {
        $("#nome-mazziere").html("");
        $("#carte-mazziere").html("");
        $(".giocatore").removeClass("back-red back-green");
        $("#mazziere").removeClass("back-red back-green");
        $(".giocatore .nome-giocatore").html("");
        //$(".giocatore").remove();
        //$(".back-red").removeClass("back-red");
    }

    function NuovaMano() {

        $.ajax({
            type: "POST",
            url: "/Home/NuovaMano",
            data: {
                id: idPartita
            },
            success: function (json) {
                let partita = JSON.parse(json);
                DisegnaTavolo(partita);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            }
        });

    }

    function VisualizzaVincitori(partita) {
        partita.Giocatori.forEach(function (giocatore) {
            let div = $("[idGiocatore='" + giocatore.Id + "']");
            if (giocatore.Risultato == 0) { //vinto
                div.addClass("back-green");
            } else if (giocatore.Risultato == 1) { //perso
                div.addClass("back-red");
            }
        })
        if (partita.Mazziere.Punteggio > 21) {
            $("#mazziere").addClass("back-red");
        }
    }

    function SetInterval() {
        var timer = setInterval(function () {
            GetPartita();
        }, 1000);
    }

    function GetStop() {
        let ret = false;
        $.ajax({
            url: "/Home/GetStop",
            async: false,
            success: function (data) {
                ret = data;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            }
        });
        return ret;
    }

    function SetStop(stop) {
        $.ajax({
            type: "POST",
            url: "/Home/SetStop",
            data: {
                stop: stop
            },
            success: function (json) {
                
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            }
        });

    }


</script>