@{
    ViewData["Title"] = "Test Count";
}

@Html.Hidden("stato", 0)

<div class="text-center p-2">
    <div class="row">
        <div class="col-4 d-flex flex-wrap justify-content-center">
            Carte mazziere
        </div>
        <div class="col-4 d-flex flex-wrap justify-content-center">
            Carte mie
        </div>
        <div class="col-4">
        </div>

        <div class="col-4 d-flex flex-wrap justify-content-center">
            punti: <span class="punti-mazziere">0</span>
        </div>
        <div class="col-4 d-flex flex-wrap justify-content-center">
            punti: <span class="punti-miei">0</span>
        </div>
        <div class="col-4">
        </div>

        <div class="col-4 d-flex flex-wrap justify-content-center carte-mazziere">
        </div>
        <div class="col-4 d-flex flex-wrap justify-content-center carte-mie">
        </div>
        <div class="col-4">
        </div>

        <div class="col-4">
            <h3>True count: <span id="truecount">0</span></h3>
            <h3>Numero carte: <span id="numcarte">0</span></h3>
        </div>
        <div class="col-4 text-danger div-operazione">
            <h3><span id="operazione"></span></h3>
        </div>
        <div class="col-4">
            <input type='button' id="btnNuovaMano" value='Nuova mano' class='btn btn-info' />
            <input type='button' id="btnCambioMazzo" value='Cambio mazzo' class='btn btn-info' />
        </div>

        <div class="col-12">
            <h3>CARTE MIE</h3>
            <div class="d-flex flex-wrap justify-content-center sel-carte-mie"></div>
            <h3>CARTE MAZZIERE</h3>
            <div class="d-flex flex-wrap justify-content-center sel-carte-mazziere"></div>
            <h3>CARTE ALTRI GIOCATORI</h3>
            <div class="d-flex flex-wrap justify-content-center sel-carte-altri"></div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        Operazione();
        DisegnaTavolo();

        $(document).on("click", ".carta", function () {

            //if ($("#stato").val() == 0) {
            //    return;
            //}

            let soggetto = null;
            if ($(this).parent().hasClass("sel-carte-mazziere")) {
                $(".carte-mazziere").append($(this).clone());
                soggetto = 0;
            } else {
                $(".carte-mie").append($(this).clone());
                soggetto = 1;
            }

            //var c = parseInt($("#numcarte").html());
            //$("#numcarte").html(c + 1);

            //if ($(".carte-mazziere .carta").length >= 2) {
            //    $("#stato").val(2);
            //}

            let valore = $(this).attr("valore");

            $.ajax({
                type: "POST",
                url: "/OnLine/PescaCarta",
                data: {
                    valore: valore,
                    soggetto: soggetto
                },
                success: function (ret) {
                    Operazione();

                    $("#truecount").html(ret.truecount);
                    $("#numcarte").html(ret.numcarte);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                }
            });


        });

        $(document).on("click", "#btnNuovaMano", function () {

            $.ajax({
                type: "POST",
                url: "/OnLine/NuovaMano",
                data: {
                },
                success: function (ret) {
                    $(".carte-mazziere").empty();
                    $(".carte-mie").empty();
                    //$("#stato").val(0);
                    Operazione();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                }
            });

        });

        $(document).on("click", "#btnCambioMazzo", function () {
            $("#conteggio").html(0);
            $("#numcarte").html(0);
        });

        $(document).on("click", ".div-operazione", function () {
            if ($("#stato").val() != 0) {
                return;
            }
            $("#stato").val(1);
            Operazione();
        });


    })

    function DisegnaTavolo() {
        for (var i = 1; i <= 13; i++) {
            $(".sel-carte-mazziere")
                .append("<div class='carta' valore='" + i + "'><img src='/Carte/1-" + i + ".png'></div>");
        }

        for (var i = 1; i <= 13; i++) {
            $(".sel-carte-mie")
                .append("<div class='carta' valore='" + i + "'><img src='/Carte/3-" + i + ".png'></div>");
        }

        for (var i = 1; i <= 13; i++) {
            $(".sel-carte-altri")
                .append("<div class='carta' valore='" + i + "'><img src='/Carte/2-" + i + ".png'></div>");
        }

    }

    function Operazione() {
        if ($(".carte-mazziere .carta").length + $(".carte-mie .carta").length == 0) {
            GetPuntata();
        } else {
            GetOperazione();
        }
    }

    function GetPuntata() {
        $.ajax({
            type: "POST",
            url: "/OnLine/GetPuntata",
            data: {
                cartaMazziere: $(".carte-mazziere .carta").map(function() {
                    return $(this).attr("valore")
                }).get(),
                cartaMie: $(".carte-mie .carta").map(function() {
                    return $(this).attr("valore")
                }).get()
            },
            success: function (operazione) {
                $("#operazione").html("Punta " + operazione);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            }
        });
    }

    function GetOperazione() {
        $.ajax({
            type: "POST",
            url: "/OnLine/GetOperazione",
            data: {
                carteMazziere: $(".carte-mazziere .carta").map(function() {
                    return $(this).attr("valore")
                }).get(),
                carteMie: $(".carte-mie .carta").map(function() {
                    return $(this).attr("valore")
                }).get()
            },
            success: function (ret) {
                $("#operazione").html(ret.operazione);
                $(".punti-mazziere").html(ret.puntimazziere);
                $(".punti-miei").html(ret.puntimiei);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            }
        });
    }

</script>